<div style="margin-left: auto; margin-right: auto; text-align: center;" class="row">
	<h1>Bison: Find and pay for your tickets, keep the system honest.</h1>
	<div class="btn-group btn-group-justified">
		<%= link_to "", :tickets_find, style: "float-left", class: "btn btn-default btn-lg", id: "ticket-search" %>
		<%= link_to "", "bisonsolutions.cloudapp.net:8080/metrics/", style: "float-right", class: "btn btn-default btn-lg", id: "metrics" %>
	</div>
</div>
