<h1>Pay a Ticket</h1>
<% if @court["onlinePayment"] %>
	<h2>This Ticket Can Be Payed Online<h2>
	<p>Visit the court's website for information.</p>
<% end %>
<p>Municipality: <%= @court["municipality"] %></p>
<p>Municipal Website: <%= @court["municipalWebsite"] %></p>
<p>Court Website: <%= @court["municipalCourtWebsite"] %></p>
<% if !(@court["clerkPhoneNumber"].include? "not") %>
	<p>Clerk Phone Number: <%= @court["clerkPhoneNumber"] %></p>
<% end %>
