/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require genericons
 *= require_tree .
 *= require_self
 */

 #ticket-search:before {
     vertical-align: top;
 	content: '\f400';
 	display: inline-block;
 	-webkit-font-smoothing: antialiased;
 	font: normal 128px/1 'Genericons';
 	vertical-align: top;
    text-align: center;
    color: #333;
 }

 #ticket-search:after {
     content: "Tickets";
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 40px;
     text-align: center;
 }

 #metrics:before {
     vertical-align: top;
     content: '\f425';
  	 display: inline-block;
  	 -webkit-font-smoothing: antialiased;
  	 font: normal 160px/1 'Genericons';
  	 vertical-align: top;
     text-align: center;
     color: #333;
 }

 #metrics:after {
     content: "Metrics";
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 40px;
     text-align: center;
 }
